[user]
	name = Yusuke Tsutsumi
	email = yusuke@tsutsumi.io
[alias]
  c = checkout
  ci = commit
	s = status
	st = stash
	l = log --stat --graph
	sta = stash apply
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  grep = grep -Ii
  aliases = "!git config -l | grep alias | cut -c 7-"
  r = reset
  rh = reset --hard
  cam = commit -am \"\"
[branch]
  autosetuprebase = remote
[http]
  sslVerify = false
[core]
   excludesfile = /home/tsutsumi/.gitignore_global
