emacs/elpa/
emacs/ac-comphist.dat
emacs/auto-save-list
emacs/ido.last
*~
*.swp
*.swo
emacs/url/cookies
emacs/places
.\#*
\#*
distribute*tar.gz
xmonad/*.hi
xmonad/*.s
xmonad/*.o
xmonad/*.errors
xmonad/xmonad-*-linux
